*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#itens{
    background-color: #ab226d;
    color: white;
}

h5{
    color: #ab226d;
}

#login{
    height: 100vh;
}
body{
    background-image: url(../img/WhatsApp\ Image\ 2023-02-24\ at\ 21.09.47.jpeg);
        background-position: center;
        background-size: cover;
}
#bodylogin{
    background-color: black;
    align-items: center;
    
}
#login form{
    background-color: #c80d66;
    
}
#login .btn{
    color: #c80d66;
 background-color:white;
}
#login .btn:hover{
    background-color: black;
}
#logo{
    display: block;
margin:0 auto 0 auto;
border-radius: 30px;
padding: 2vh;
}
h3{
    text-align: center;
    color: #c80d66;
    background-color: black;
}
#bodyProdutos{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
header{
    background-color: #ffffff;
    color: white;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px #ccc;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 20px;
    box-shadow: 2px 2px 10px;
    gap: 20px;
}
footer{
    background-color: violet;
}
.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}
.button.blue{
    background-color: #1fb6ff;
}
button.green{
    background-color: #13CE66;
}
button.red{
    background-color: #FF4949;
}
.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}
.records{
    width: 100%;
    user-select: none;
    text-align: left;
}
.records th{
    height: 50px;
    background-color:#ab226d;
    color: white;
    padding-left: 20px;
    font-size: 1.2rem;
}
.records td{
    height: 50px;
    padding-left: 20px;
    background-color: #f5f4f4;

}
.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}
.records tr:hover{
    background-color: var(--secundary-color);
}